#content #sidebar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 56px;
  height: 100%;
  overflow: hidden;
  transition: 200ms ease-out;
  z-index: 4;
}

#content #sidebar:hover {
  width: 180px;
  box-shadow: 10px 0px 20px #00000042, 2px 0px 5px #00000014;
  background-color: #2a2a2bcf;
  backdrop-filter: blur(10px);
  transition-delay: 500ms;
}

#sidebar #hamburgerMenu-title {
  position: absolute;
  top: 13px;
  left: 63px;
}

#sidebar #hamburgerMenu-title:hover {
  cursor: context-menu;
}

#content #sidebar .sidebar-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 18px;
  transition: 250ms ease;
}

#content #sidebar .sidebar-btn:hover {
  background-color: var(--background-btns-hover);
  cursor: pointer;
  transform: scale(1.1);
}

#content #sidebar .sidebar-btn:active {
  transform: scale(1);
}

#sidebar .sidebar-btn .sidebar-btn-icon {
  margin-right: 25px;
  font-size: 20px;
  pointer-events: none;
}

#sidebar #addedRepos {
  opacity: 0;
  transition: 250ms ease;
}

#sidebar:hover #addedRepos {
  opacity: 1;
  transition-delay: 700ms;
}

#addedRepos .sidebar-btn .sidebar-btn-icon {
  background-size: contain;
  width: 25px;
  height: 25px;
}

#sidebar .sidebar-btn.active .sidebar-btn-icon, #sidebar .sidebar-btn.active .sidebar-btn-title  {
  text-shadow: 0 1px 10px #fffd, 0 -1px 10px #fffd;
}

#sidebar .sidebar-btn .sidebar-btn-title {
  pointer-events: none;
}

#hamburgerMenu .sidebar-btn-icon span {
  position: relative;
  display: block;
  height: 2px;
  width: 20px;
  background-color: #fffa;
}

#hamburgerMenu .sidebar-btn-icon span:nth-child(1) {
    top: -2px;
}
  
#hamburgerMenu .sidebar-btn-icon span:nth-child(2) {
    top: 2px;
}
  
#hamburgerMenu .sidebar-btn-icon span:nth-child(3) {
    top: 6px;
}

#addedRepos {
  height: 256px;
  overflow-Y: auto;
  overflow-x: hidden;
}

#content #sidebarContent {
  scroll-behavior: smooth;
  position: absolute;
  width: calc(90% - 18px);
  height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 120px;
  margin-left: 56px;
  -webkit-mask-image: linear-gradient(to top, transparent, black), linear-gradient(to left, transparent 5px, black 5px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}

#content #sidebarContent:hover {
  transition-delay: 500ms;
  -webkit-mask-position: left top;
}

#sidebarContent .repoContainer {
  display: flex;
  flex-direction: column;
  width: 95%;
}

#sidebarContent .repoContainer .repoDetail, .repoContainer .repoDetail .repoInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#sidebarContent .repoContainer .repoDetail {
  justify-content: space-between;
  transition: 250ms ease;
  padding: 10px;
  border-radius: 10px
}

#sidebarContent .repoContainer .repoDetail:hover {
  background-color: var(--background-btns-hover);
  cursor: pointer;
}

.repoContainer .repoDetail .repoInfo {
  font-size: 12px;
}

.repoDetail .repoInfo .repoInfoDetail {
  margin-right: 10px;
}

.repoInfo .repoInfoDetail .repoInfoName {
  font-size: 15px;
  font-weight: 700;
}

.repoInfo .repoInfoDetail .repoURL  {
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.repoDetail .repoInfo .repoInfoIcon {
  width: 50px;
  height: 50px;
  margin-right: 10px
}

.repoInfo .repoInfoIcon img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.repoDetail .repoInfo .mi-ChevronDown {
  transition: 250ms ease;
}

.repoDetail .repoInfo .mi-ChevronDown.closed {
  transform: rotate(-90deg);
}

#sidebarContent .repoContainer .repoEmotes {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  transition: 250ms ease;
  height:auto;
  overflow: hidden;
}

.repoContainer .repoEmotes .emoteContainer {
  margin-right: 10px;
  margin-bottom: 10px;
  transition: 250ms ease;
}

.repoContainer .repoEmotes .emoteContainer:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.repoContainer .repoEmotes .emoteContainer:active {
  transform: scale(1);
}

.repoEmotes .emoteContainer img {
  width: 35px;
  border-radius: 10px;
  pointer-events: none;
}