#border {
  position: fixed;
  top: 0;
  left: 0;
  width: 99.4%;
  height: 99.5%;
  border: 1px solid #fff1;
}

#content #sidebar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 56px;
  height: 100%;
  overflow: hidden;
  transition: 200ms ease-out;
  z-index: 4;
}

#content #sidebar:hover {
  width: 180px;
  box-shadow: 10px 0px 20px #00000042, 2px 0px 5px #00000014;
  background-color: #2a2a2bcf;
  height: 99.7%;
  backdrop-filter: blur(20px);
  transition-delay: 500ms;
  border: 1px solid #fff1;
}

#sidebar #hamburgerMenu-title {
  position: absolute;
  top: 13px;
  left: 63px;
}

#content #sidebar .sidebar-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 18px;
  transition: 250ms ease;
  border: 1px solid #fff0;
}

#content #sidebar .sidebar-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  border: 1px solid #fff1;
}

#content #sidebar .sidebar-btn:active {
  transform: scale(1);
}

#sidebar .sidebar-btn .sidebar-btn-icon {
  margin-right: 25px;
  font-size: 20px;
  pointer-events: none;
}

#sidebar #addedRepos {
  opacity: 0;
  transition: 250ms ease;
}

#sidebar:hover #addedRepos {
  opacity: 1;
  transition-delay: 700ms;
}

#addedRepos .sidebar-btn .sidebar-btn-icon {
  background-size: contain;
  width: 25px;
  height: 25px;
}

#addedRepos .sidebar-btn .sidebar-btn-icon.mi {
  background-size: unset;
  width: unset;
  height: unset;
  margin-right: 30px;
}

#sidebar .sidebar-btn.active .sidebar-btn-icon, #sidebar .sidebar-btn.active .sidebar-btn-title  {
  text-shadow: 0 1px 10px #fffd, 0 -1px 10px #fffd;
}

#sidebar .sidebar-btn .sidebar-btn-title {
  pointer-events: none;
}

.repoList .sidebar-btn-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
}

#hamburgerMenu .sidebar-btn-icon span {
  position: relative;
  display: block;
  height: 2px;
  width: 20px;
  background-color: #fffa;
}

#hamburgerMenu .sidebar-btn-icon span:nth-child(1) {
    top: -2px;
}
  
#hamburgerMenu .sidebar-btn-icon span:nth-child(2) {
    top: 2px;
}
  
#hamburgerMenu .sidebar-btn-icon span:nth-child(3) {
    top: 6px;
}

#addedRepos {
  height: 302px;
  overflow-Y: auto;
  overflow-x: hidden;
}

#content #sidebarContent {
  scroll-behavior: smooth;
  position: absolute;
  width: calc(90% - 18px);
  height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 120px;
  margin-left: 56px;
  mask-image: linear-gradient(to top, transparent, black), linear-gradient(to left, transparent 5px, black 5px);
  -webkit-mask-image: linear-gradient(to top, transparent, black), linear-gradient(to left, transparent 5px, black 5px);
  mask-size: 100% 20000px;
  -webkit-mask-size: 100% 20000px;
  mask-position: left bottom;
  -webkit-mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}

#content .searchContent {
  padding-top: 50px;
  padding-left: 40px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 18px;
  transition: 250ms ease;
  height: auto!important;
  width: calc(90% - 50px)!important;
}

#content #sidebarContent:hover {
  transition-delay: 500ms;
  mask-position: left top;
  -webkit-mask-position: left top;
}

#sidebarContent .repoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#sidebarContent .repoContainer .repoDetail, .repoContainer .repoDetail .repoInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#sidebarContent .repoContainer .repoDetail {
  justify-content: space-between;
  transition: 250ms ease;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #fff0;
}

#sidebarContent .repoContainer .repoDetail:hover {
  cursor: pointer;
  border: 1px solid #fff1;
}

.repoContainer .repoDetail .menuButton {
  display: none;
}

.repoContainer .repoDetail:hover .menuButton {
  display: block;
}

.repoContainer .repoDetail .repoInfo {
  font-size: 12px;
  pointer-events: none;
}

.repoDetail .repoInfo .repoInfoDetail {
  margin-right: 10px;
}

.repoInfo .repoInfoDetail .repoInfoName {
  font-size: 15px;
  font-weight: 700;
}

.repoInfo .repoInfoDetail .repoURL  {
  width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.repoDetail .repoInfo .repoInfoIcon {
  width: 50px;
  height: 50px;
  margin-right: 10px
}

.repoInfo .repoInfoIcon img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.repoDetail .repoInfo .mi-ChevronDown {
  transition: 250ms ease;
}

.repoDetail .repoInfo .mi-ChevronDown.closed {
  transform: rotate(-90deg);
}

#sidebarContent .repoContainer .repoEmotes[data-collapsed="true"] {
  overflow: hidden;
} 

#sidebarContent .repoContainer .repoEmotes, #mostUsedEmotes {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 18px;
  transition: 250ms ease;
  height:auto;
}

.emoteContainer {
  margin-right: 10px;
  margin-bottom: 10px;
  transition: 250ms ease;
}

.emoteContainer:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.emoteContainer .hover {
  position: absolute;
  background-color: var(--background-btns);
  opacity: 0;
  margin-top: -40px;
  padding: 10px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  font-size: 10px;
  pointer-events: none;
}

.emoteContainer:hover .hover {
  opacity: 1;
}

.emoteContainer:active {
  transform: scale(1);
}

.emoteContainer img {
  width: 35px;
  border-radius: 10px;
  pointer-events: none;
}

#sidebarContent .aboutContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  transition: 250ms ease;
  width: 90%;
  border-radius: 10px;
}

#sidebarContent .aboutContainer:hover {
  cursor: pointer;
}

#sidebarContent #ParasKCD {
  margin-top: 40px;
}

#sidebarContent #Github {
  margin-top: 20px;
}

#sidebarContent #Github:before {
  content: "About Nitroless"!important;
}

#sidebarContent #ParasKCD:before, #sidebarContent #Github:before {
  content: "Our Team";
  position: absolute;
  margin-top: -80px;
  opacity: 0.4;
}

#sidebarContent #Bypass {
  margin-bottom: 10px;
}

#sidebarContent .aboutContainer .aboutImage {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background-size: cover;
  border-radius: 10px;
  pointer-events: none;
}

.aboutContainer .aboutSubtitle {
  font-size: 12px;
  pointer-events: none;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -120%);
  padding-top: 100px;
  width: 40px;
  margin: auto;
}

#loading .loadingCircle {
  position: absolute;
  width: 38px;
  height: 38px;
  opacity: 0;
  transform: rotate(225deg);
  animation-iteration-count: infinite;
  animation-name: orbit;
  animation-duration: 5.5s;
}

#loading .loadingCircle:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: #fffa;
  /* Pick a color */
}

#loading .loadingCircle:nth-child(2) {
  animation-delay: 240ms;
}
#loading .loadingCircle:nth-child(3) {
  animation-delay: 480ms;
}
#loading .loadingCircle:nth-child(4) {
  animation-delay: 720ms;
}
#loading .loadingCircle:nth-child(5) {
  animation-delay: 960ms;
}
@keyframes orbit {
  0% {
    transform: rotate(225deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  7% {
    transform: rotate(345deg);
    animation-timing-function: linear;
  }
  30% {
    transform: rotate(455deg);
    animation-timing-function: ease-in-out;
  }
  39% {
    transform: rotate(690deg);
    animation-timing-function: linear;
  }
  70% {
    transform: rotate(815deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  75% {
    transform: rotate(945deg);
    animation-timing-function: ease-out;
  }
  76% {
    transform: rotate(945deg);
    opacity: 0;
  }
  100% {
    transform: rotate(945deg);
    opacity: 0;
  }
}